@model Dummies.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SyncId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SyncId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FacultyNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacultyNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Semester.Season)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Semester.Season)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BankAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankAccount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
