@model Dummies.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Course</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Group)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Group)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Credits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Credits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Semester)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Semester)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BachelorProgramme.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BachelorProgramme.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
