@model IEnumerable<Dummies.Models.StudentProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacultyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentProfileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentProfileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentProfileId })
        </td>
    </tr>
}

</table>
