@model IEnumerable<Dummies.Models.PersonalOffer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FacultyNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FacultyNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonalOfferId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonalOfferId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonalOfferId })
        </td>
    </tr>
}

</table>
